_minted-HPC
.vscode
*.DS_Store
advanced_research_computing_docker
Pictures
SISSA
*.bib
*.tex
*.aux
*.log
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.listing
*.xml
*.gz
*.toc
*.bcf
*.xlsx
*build*
